/*******************/
/* BARRA DE TÍTULO */
/*******************/
.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 100px;
  justify-content: space-around;
}
#trybewarts-header-title {
  color: white;
  align-self: center;
}
.trybewarts-header-logo {
  width: 70px;
}
.trybewarts-login {
  display: flex;
  align-self: center;
}
.form_login {
  height: 30px;
  width: 120px;
  border: none;
  border-radius: 10px;
  margin-left: 5px;
}
.botao_login {
  background-color: purple;
  color: white;
  font-weight: bold;
}

/*******************/
/* CORPO DA PÁGINA */
/*******************/
main {
  display: flex;
  background-color: rgb(230, 230, 230);
  justify-content: space-around;
}
/* Lado Esquerdo*/
#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;
}
.primeiro_container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.primeiro_container input {
  width: 50%;
}

.texto_forms {
  align-self: center;
}
.campo_form {
  border: 1px solid rgb(218, 215, 215);
  border-radius: 5px;
  height: 30px;
}
/* Lado Direito*/
#trybewarts-forms-logo {
  height: 500px;
}

/*******************/
/*      RODAPÉ     */
/*******************/
footer {
  background: rgb(32, 32, 32);
  width: 100%;
  color: white;
  text-align: center;  
}
