/** Modifique o família do h1 para sans-serif **/
h1 {
    font-family: sans-serif;
}

p {
    /** Deixe o parágrafo com o font-weight 600 **/
    font-weight: 600;
    /** Coloque o tamanho do parágrafo com o tamanho de 3 vezes o padrão do body **/
    font-size:larger
}

/** Modifique o font-size do body para 16px **/
body {
    font-size: 16px;
}

#primeiro_texto {
/** Explore as propriedades font-style, line-height, text-align e text-decoration **/
    text-align: center;
    font-style: italic;
    line-height: 40px; /**Espaçamento entre linhas**/
    color: blue;
}

#segundo_texto {
    /** Explore as propriedades font-style, line-height, text-align e text-decoration **/
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

/** Troque a cor de fundo de cada item da lista para a cor correspondente ao texto **/
.Amarelo {
    background-color: yellow;
}

.Vermelho {
    background-color: red;
}
.Marrom {
    background-color: brown;
}
