.forms-div {
  @include flex(row, wrap, center, center);

  margin: auto;

  a {
    @include flex(column, wrap, center, center);
    margin: 3%;
    text-decoration: none;

    button {
      @include sizer(50px, auto);
      background-color: $trybe-light-green;
      border: none;
      border-radius: 2px;
      color: white;
      cursor: pointer;
      font-weight: 600;
      transition: 0.5s;

      &:disabled {
        background-color: lightgray;
        color: black;
        cursor: not-allowed;
        transition: 0.5s;
      }
    }
  }
}

.login {
  @include flex(row, wrap, center, center);
  @include sizer(100%, 100%);
}

.logo-div,
.forms-div {
  @include flex(column, wrap, center, center);
}

.forms-div {
  input {
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0);
    border-bottom: 2px solid $trybe-purple;
    transition: 0.5s;

    @include sizer(40px, 500px);

    &:focus {
      border: 2px solid $trybe-light-green;
      outline: none;
      transition: 0.5s;
    }
  }
}

.logo-div {
  background-color: $trybe-dark-green;
  border-right: 4px solid $trybe-light-green;
  @include sizer(100vh, 50vw);
}
