.login-main {
  align-items: center;
  background-color: rgb(3, 107, 82);
  border: 1px solid black;
  border-radius: 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-evenly;
  margin: 20vh auto;
  max-width: 420px;
  min-width: 240px;
  padding: 20px;
  width: 30vw;
}

.login-header {
  align-items: center;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 60%;
  justify-content: space-between;
  width: 80%;
}

.login-input , .login-btn {
  border: 2px solid rgb(225, 229, 235);
  border-radius: 4px;
  padding: 10px;
}

.login-btn {
  background-color: rgb(0, 251, 134);
  color: black;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.login-btn:disabled {
  background-color: rgb(225, 229, 235);
  color: red;
  cursor: not-allowed;
}
