.done-card-body {
  align-items: center;
  backdrop-filter: blur(10px);
  background-color: rgba(226, 226, 226, 0.479);
  border-radius: 10px;
  box-shadow: 2px 3px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 20px;
  position: relative;
}

.done-card-body .card-content {
  align-items: flex-start;
  display: flex;
  text-align: end;
}

.done-card-body .card-content section {
  padding-top: 12px;
}

.done-card-body:nth-child( odd ) .card-content {
  display: flex;
  flex-direction: row-reverse;
  text-align: start;
}

.done-card-body img {
  border-radius: 6px;
  margin: 10px;
  width: 40%;
}

.done-card-body p {
  margin-bottom: 8px;
}

.done-card-body h1 {
  font-size: 30px;
  font-weight: 600;
  z-index: 1000;
}

.done-card-body h3 {
  font-size: 20px;
}

.done-card-body .tags {
  background-color: rgb(48, 40, 156);
  border-radius: 6px;
  color: white;
  font-weight: 600;
  margin: 5px;
  padding: 2px 10px;
}

/* .done-card-body .share-btn {
  position: absolute;
  right: 10px;
  top: 10px;
} */

/* .done-card-body .copied-link {
  background: rgb(226, 226, 226);
  font-size: 15px;
  padding-bottom: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 999;
} */

.done-card-body .finish-date {
  bottom: 0;
  position: absolute;
  right: 20px;
}

.done-card-body:nth-child( odd ) .finish-date {
  left: 20px;
}
