* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

body {
  background-color: rgb(247, 247, 247);
}

.header-container {
  background-color: #5C687C;
  display: flex;
}

.logo-container {
  display: flex;
  justify-content: center;
  flex-basis: 268px; /* 1- Adicione uma propriedade que defina o tamanho Flexbox base para o container da imagem 268px e para o container do menu 500px . */
}

.menu-container {
  display: flex;
  flex-basis: 500px; /* 1- Adicione uma propriedade que defina o tamanho Flexbox base para o container da imagem 268px e para o container do menu 500px . */
  order: 1; /* 2- Adicione uma propriedade Flexbox que modifique a ordem em que a logomarca e os itens do menu aparecem na tela. */
  flex-grow: 1; /* 3- Adicione uma propriedade Flexbox que modifique o tamanho padrão do container do menu quando a largura da página for maior que 768px */
}

.menu-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-self: center; /* 4- Utilize a propriedade align-self no elemento correto para que o header */
}

.menu-container li {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  list-style: none;
  margin-right: 10px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-container {
  display: flex;
  flex-direction: column;
  flex-basis: 700px; /* Adicione uma propriedade que faça com que seu container de filmes tenha uma base de 700px */
  flex-grow: 10; /* Aplique uma propriedade com o valor 10 que expanda o container de filmes */
}

.movie-container h2 {
  margin: 40px 0;
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container div {
  align-items: center;
  background-color: #5C687C;
  border: black solid 1px;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 10px;
  flex-basis: 16%; /* base de 16% para as div do container de seu card */
  flex-grow: 1; /* Adicione uma propriedade com o valor 1 que faça com que suas div do container de filmes ocupe todo o espaço em branco */
}

.aside-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex-basis: 350px; /* Aplique uma base de 350px para seu container aside */
  flex-grow: 1; /* Aplique um alinhamento para expandir */
  align-self: center; /* Aplique um alinhamento para centralizar */
}

.aside-container h3, h4 {
  margin-bottom: 10px;
  text-align: center;
}

.aside-container p {
  margin: 10px 0;
  text-align: justify;
}
