@import 'mixins/sizer';

@import 'mixins/flex';

@import './variables/variables';

@import './login';

@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
}

* {
  box-sizing: border-box;
}

body, html, main {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  @include sizer(100vh, 100vw);
}

label {

  @include flex(column, wrap, center, flex-start);
  margin: 3%;
  text-align: left;
}
